body {
    margin: 0px;
    background-color: #3E3E42;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* CONTAINERS/WRAPPERS */
.home-container {
    box-sizing: border-box;
    padding: 10px;
    height: 100vh;
    display: grid;
    gap: 7px;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.titleWrapper {
    color: white;
    display: flex;
}

#logoNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15%;
}

#homeTitle {
    color: white;
}

.fetchBtnWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.syndTitle {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    color: white;
    -webkit-box-shadow: 0px 10px 15px -5px #000000; 
    box-shadow: 0px 9px 4px -3px rgba(0,0,0,0.3);
    margin-bottom: 15px;
}

/* LOADING CONTAINER/TOAST */
#loadingToast {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loadingToast p {
    margin: 0px;
}

#loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it appears above other elements */
  }


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #2a2a2d; /* Dark color for the scrollbar handle */
    border-radius: 6px;
    border-radius: 0;
  }
  
::-webkit-scrollbar-thumb:hover {
    background-color: #171718; /* Dark color for the scrollbar handle on hover */
  }

/* GLOBAL BUTTONS/ICONS */
button {
    border: 2px solid black;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 50px;
}

button:hover {
    cursor: pointer;
}

.btn-container {
    display: inline-block;
}

.fetchDataBtn {
    background-color: #1b1c1f9f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.fetchDataBtn:hover {
    background-color: #121214; 
    transform: scale(1.1);
}

.icon {
    margin-right: 5px; /* Adjust the margin as needed */
    vertical-align: middle; /* Align the image vertically */
    max-width: 50px;
    max-height: 50px;
}

.back-to-home img {
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
  }
  
  .back-to-home:hover img {
    transform: scale(1.1); /* Increase the size on hover (1.1 is 110% of the original size) */
  }

.back-to-home {
    margin-left: 10px;
}

/* HOME BUTTONS */
#steelMeridian {
    background-color: #2C3E47;
    color: white;
}

#steelMeridian:hover {
    filter: brightness(1.2);
}

#arbiters {
    background-color: rgb(54,65,69);
    color: white;
}

#arbiters:hover {
    filter: brightness(1.2);
}

#cephalonSuda {
    background-color: rgb(61,55,93);
    color: white;
}

#cephalonSuda:hover {
    filter: brightness(1.2);
}

#perrin {
    background-color: rgb(61,72,98);
    color: white;
}

#perrin:hover {
    filter: brightness(1.2);
}

#redVeil {
    background-color: rgb(60,25,57);
    color: white;
}

#redVeil:hover {
    filter: brightness(1.2);
}

#newLoka {
    background-color: rgb(42,61,47);
    color: white;
}

#newLoka:hover {
    filter: brightness(1.2);
}

#cephalonSimaris {
    background-color: rgb(94,61,13);
    color: white;
}

#cephalonSimaris:hover {
    filter: brightness(1.2);
}

#ostron {
    background-color: rgb(182,71,36);
    color: white;
}

#ostron:hover {
    filter: brightness(1.2);
}

#quills {
    background-color: rgb(246,251,203);
}

#quills:hover {
    filter: brightness(1.2);
}

#solarisUnited {
    background-color: rgb(102,72,50);
    color: white;
}

#solarisUnited:hover {
    filter: brightness(1.2);
}

#voxSolaris {
    background-color: rgb(243,229,166);
}

#voxSolaris:hover {
    filter: brightness(1.2);
}

#entrati {
    background-color: rgb(72,79,90);
    color: white;
}

#entrati:hover {
    filter: brightness(1.2);
}

#necraloid {
    background-color: rgb(51,50,50);
    color: white;
}

#necraloid:hover {
    filter: brightness(1.2);
}

#holdfasts {
    background-color: rgb(26,31,40);
    color: white;
}

#holdfasts:hover {
    filter: brightness(1.2);
}

#cavia {
    background-color: rgb(42,37,36);
    color: white;
}

#cavia:hover {
    filter: brightness(1.2);
}

#kahl {
    background-color: rgb(4,34,18);
    color: white;
}

#kahl:hover {
    filter: brightness(1.2);
}

/* CAVIA */
.titleWrapperCavia {
    background-color: rgb(42,37,36);
}

/* KAHL */
.titleWrapperKahl {
    background-color: rgb(4,34,18);
}

/* CARD STYLING */
#cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(54, 54, 56);
    padding: 16px;
    margin: 8px;
    box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.1);
  }
  
  .card h3 {
    margin-bottom: 8px;
    color: white;
  }
  
  .card p {
    color: white;
  }